@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif, 'Berkshire Swash', cursive;
    background-color: #151515;
}

.container {
    max-width: 1300px;
    padding: 75px 0;
    margin: 0 auto;
}

h1 {
    font-size: 76px;
    font-family: 'Berkshire Swash';
    line-height: 94px;
    text-transform: capitalize;
    color: #FF5E19;
}

.banner {
    text-align: center;
    background-color: #000000;
    height: 80vh;
    padding: 131px 0;
}

.banner p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    align-items: center;
    width: 264px;
    height: 371px;
    background: #0D0D0D;
    border: 1px solid #434343;
}

.player img {
    width: 100%;
    /* width: 264px;
    height: 204px; */
}

.custom-btn {
    color: white;
    background-color: #015196;
    text-transform: uppercase;
    padding: 8px 35px;
}

.custom-btn:hover {
    background-color: #A2A9AF;
}

.body-part {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* Side of Right side  */

.selected {
    width: 264px;
    height: 371px;
    color: white;
    padding: 20px;
    background-color: #0D0D0D;
    margin-bottom: 30px;
}

.budget {
    width: 264px;
    height: 514px;
    color: white;
    padding: 20px;
    background-color: #0D0D0D;
    margin-bottom: 30px;
}

.custom-input {
    color: white;
    width: 121px;
    height: 42px;
    border: 1px solid #FFFFFF;
    padding: 10px;
    background-color:transparent;
    margin-left: 10px
}